{% extends "bootstrap/base.html" %}

{% block title %}ROS Object Detection{% endblock %}

{% block head %}
{{ super() }}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/css/style.css" type="text/css">
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times</button>
        {{ message }}
    </div>
    {% endfor %}
</div>
<div class="container">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
