{% extends "base.html" %}

{% block page_content %}
    <canvas id="canvas" class="videoarea"></canvas>
    <input type="file" id="browse" class="button blue big" style="margin-top: 5px; padding-top: 10px;" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg"></input>
    <button id="local" class="button blue big" style="margin-top: 10px">Upload</button>
{% endblock %}

{% block scripts %}
{{ super() }}
    <script src="{{ url_for('static', filename='js/upload.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
{% endblock %}